{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "Edge >= 12",
            "Explorer >= 10"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-add-module-exports",
    "babel-plugin-transform-export-extensions",
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-react-jsx",
    "babel-plugin-lodash"
  ]
}
